{% extends 'layout.html.twig' %}

{% block body %}
    <H1>Detail</H1>

    <div id="div_recherche" style="margin-top: 30px; background-color: grey;">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Identification</h3>
                <div class="box-body">
                    <div class="row">
                        <form id="form_search">
                            <div class="row">
                                <div class="col-xs-4">
                                    <input class="form-control" disabled="disabled" type="text" id="input_nom" value="{{ utilisateur.nom }}">
                                </div>
                                <div class="col-xs-4">
                                    <input class="form-control"  disabled="disabled" type="text" id="input_prenom" value="{{ utilisateur.prenom }}">
                                </div>
                                <div class="col-xs-2">
                                    <input class="form-control"  disabled="disabled" type="text" id="input_naissance" value="{{ utilisateur.datenaissance |date('d-m-Y') }}">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <input class="form-control"  disabled="disabled" type="text" id="input_mail" value="{{ utilisateur.email }}">
                                </div>
                            </div>
                            <div class="row" style="margin-top: 30px;">
                                <div class="col-xs-8">
                                    <input class="form-control"  disabled="disabled" type="text" id="input_adresse" value="{{ utilisateur.adresse1 }}">
                                </div>
                                <div class="col-xs-2">
                                    <input class="form-control"  disabled="disabled" type="text" id="input_codepostal" value="{{ utilisateur.codepostal }}">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-2">
                                    <input class="form-control"  disabled="disabled" type="text" id="input_ville" value="{{ utilisateur.ville }}">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


        {% block javascripts %}
            <script src="{{ asset('Js/alternant/detail.js') }}"></script>
        {% endblock %}


{% endblock %}