{% extends 'layout.html.twig' %}
{% block title %}ENI Ecole - Planning{% endblock %}
{% block stylesheets %}{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2"><label class="">Nom du planning :</label></div>
        <div class="col-md-6"><input class="form-control" value="{{ planning.nom }}"/></div>
        <div class="col-md-3">
            <button class="btn btn-default">Modifier critères</button>
            <button class="btn btn-danger">Annuler</button>
            <button class="btn btn-primary">Enregistrer</button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2"><label class="">Date de création : {{ planning.date_creation }}</label></div>
        <div class="col-md-4"><label class="pull-right">Formation : Concepteur Développeur Informatique</label></div>
        <div class="col-md-2">
            <select class="form-control" placeholder="Center de formation">
                
            </select>
        </div>
        <div class="col-md-3">
            <button class="btn btn-default">Modifier critères</button>
            <button class="btn btn-danger">Annuler</button>
            <button class="btn btn-primary">Enregistrer</button>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    <script src="{{ asset('Js/planning/generation.js') }}" type="text/javascript"></script>
    <script src="{{ asset('template/plugins/input-mask/jquery.inputmask.js') }}" type="text/javascript"></script>
    <script src="{{ asset('template/plugins/input-mask/jquery.inputmask.date.extensions.js') }}" type="text/javascript"></script>
    <script src="{{ asset('template/plugins/input-mask/jquery.inputmask.extensions.js') }}" type="text/javascript"></script>
{% endblock %}
