<div class="modal" id="modal_planning_generation" role="dialog">
    <form id="generationform" action="/planning/editeur" class="" method="POST" name="generationplanning">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4><label>Génération d'un planning</label></h4>
                </div>
                <div class="modal-body">
                    <div id="modal-content-search">
                        <div>
                            <label>Recherche d'un alternant : </label>
                        </div>
                        <div class="row" >
                            <input type="hidden" name="stagiaire" value="0" id="stagiaire"/>
                            <div class="col-md-3">
                                <input class="form-control" name="name" id="nom" placeholder="Nom"/>
                            </div>
                            <div class="col-md-3">
                                <input class="form-control" name="surname" id="prenom" placeholder="Prénom"/>
                            </div>
                            <div class="col-md-3">
                                <input class="form-control" name="email" id="email" placeholder="Email"/>
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-default btn-flat pull-right" type="button" onclick="btRechercherClick();">Rechercher</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped table-bordered" width="100%" cellspacing="0" id="table_apprenti">
                                <thead>
                                    <tr>
                                        <th>Nom Prénom</th>
                                        <th>Entreprise</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <hr>
                        </div>
                    </div>
                    <div>
                        <label>Contrat : </label>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            <select class="form-control select2" name="entreprise" required id="entreprise" placeholder="Entreprise" >
                                <option value=""></option>
                                {% for entreprise in entreprises %}
                                    <option value="{{ entreprise.id }}">
                                        {{ entreprise.raison ~ " (" ~ entreprise.ville~ ")"  }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-5">
                            <select class="form-control select2" name="formation" required id="formation" placeholder="Formation" >
                                <option value=""></option>
                                {% for formation in formations %}
                                    <option value="{{ formation.id }}">
                                        {{ formation.court }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input class="form-control datemask" required data-inputmask="'alias': 'dd/mm/yyyy'" data-mask="" placeholder="Date début" type="text"  name="date_debut_contrat" id="date_debut_contrat">
                                </div>
                                <!-- /.input group -->
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input class="form-control datemask" required data-inputmask="'alias': 'dd/mm/yyyy'" data-mask="" name="date_fin_contrat" id="date_fin_contrat" placeholder="Date fin">
                                </div>
                                <!-- /.input group -->
                            </div>
                        </div>
                        <div class="col-md-4">
                            <input  class="form-control" name="maxHeure" id="max_heure_contrat" placeholder="Max heure formation"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <hr>
                        </div>
                    </div>
                    <div>
                        <label>Contraintes :</label>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <select class="form-control select2" name="planning_identique" id="planning_identique" placeholder="Planning identique à" >

                            </select>
                        </div>
                        <div class="col-md-4">
                            <select class="form-control select2" name="planning_different" id="planning_different" placeholder="Planning différent à" >

                            </select>
                        </div>
                        <div class="col-md-4">
                            <input type="number" min="1" class="form-control" name="planning_different" name="max_semaine" id="temps_max" placeholder="Max semaine "/>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-8">
                            <table class="table table-striped table-bordered" width="100%" cellspacing="0" id="table_exclusion">
                                <thead>
                                    <tr>
                                        <th colspan="3">Exclusion du</th>
                                        <th class="hidden"></th>
                                        <th class="hidden"></th>
                                    </tr>
                                    <tr>
                                        <th>Date début</th>
                                        <th>Date fin</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input class="form-control datemask" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask="" placeholder="Date début" type="text"  name="dateD" id="date_debut_exclusion" onchange="checkExclusion();">
                            </div>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input class="form-control datemask" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask="" placeholder="Date fin" type="text"  name="dateF" id="date_fin_exclusion" onchange="checkExclusion();">
                            </div>
                            <br>
                            <button class="btn btn-default pull-right" type="button" id="bt_exclusion" disabled onclick="btExclusionClick();">Ajouter</button>
                            <input type="hidden" value="{{ id_planning }}" name="planning" id="planning" />
                        </div>
                    </div>
                    <div class="row hidden" id="error-content">

                    </div>
                    <br>
                </div>
                <div class="modal-footer">
                    <span class="pull-left"><a href="#" class="flip-link btn btn-default" data-dismiss="modal">Fermer</a></span>
                    <button class="pull-right btn btn-primary" type="submit" onclick="" name="generationplanning">Générer</button>
                </div>
            </div>
            <!-- /.modal_password -->
        </div>
    </form>
</div><!-- /.frame_planning-box -->