{# empty Twig template #}
<html>
    <head>
        <link href="{{ base_dir ~ asset('template/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ base_dir ~ asset('template/ionicons-master/css/ionicons.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ base_dir ~ asset('template/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ base_dir ~ asset('template/plugins/datatables/dataTables.bootstrap.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ base_dir ~ asset('template/plugins/fullcalendar/fullcalendar.css') }}" rel="stylesheet" />
        <link href="{{ base_dir ~ asset('template/plugins/fullcalendar/fullcalendar.print.css') }}" rel="stylesheet"  media="print"/>
        <link href="{{ base_dir ~ asset('template/dist/css/AdminLTE.min.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ base_dir ~ asset('template/dist/css/skins/_all-skins.css') }}" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div class="row">
            <div class="col-md-6">
                <div class="">
                    <div class="box-header" id="box-planning">
                        <div class="row">
                            <div class="col-md-12">
                                <img src="{{base_dir ~ asset ('image/ENIEcole-250x250.jpg') }}" alt="logo_eni" style="width:75px;height: 75px"/>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-12 text-center"><label> {{ formation.libellelong }}</label></div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-6 text-left"><label>Date de début : <span id="date_debut_contrat">{{ planning.dateDebut|date('d/m/Y')}}</span></label></div>
                            <div class="col-md-6 text-right"><label>Date de fin : <span id="date_fin_contrat">{{ planning.dateFin|date('d/m/Y') }}</span></label></div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                Formation en centre : {{ planning.maxHeureFormation }} heures
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 text-left"><label>Entreprise : {{ entreprise.raisonsociale ~ " - " ~ entreprise.ville}}</label></div>
                            <div class="col-md-6 text-right"><label>Salarié : {{ stagiaire.nom ~ " " ~ stagiaire.prenom}}</label></div>
                        </div>
                    </div>
                    <div class="box-body">
                        <table class="table table-responsive table-bordered table-striped" id="table-planning" width="100%">
                            <thead class="bg-light-blue-active">
                                <tr>
                                    <th class="text-center" colspan="2" width="20%">Date</th>
                                    <th class="text-center" colspan="2" width="80%"></th>
                                </tr>
                                <tr>
                                    <th class="text-left" width="15%">Début</th>
                                    <th class="text-right" width="15%">Fin</th>
                                    <th class="text-center" width="15%">Lieu</th>
                                    <th class="text-center">Programmes</th>
                                </tr>
                            </thead> 
                            <tbody>
                                <tr class="start">
                                    <td class="text-center" id="">Début de contrat</td>
                                    <td class="date-fin text-center"></td>
                                    <td class="text-center " colspan="2"><label>Entreprise</label></td>
                                    <td class="hidden"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                        {{ dump(planning_cours)}}
                </div>
            </div>
        </div> 
    </body>
</html>