{# empty Twig template #}
<html>
    <head>
        <link href="{{ asset('template/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('template/ionicons-master/css/ionicons.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('template/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('template/plugins/datatables/dataTables.bootstrap.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('template/plugins/fullcalendar/fullcalendar.css') }}" rel="stylesheet" />
        <link href="{{ asset('template/plugins/fullcalendar/fullcalendar.print.css') }}" rel="stylesheet"  media="print"/>
        <link href="{{ asset('template/dist/css/AdminLTE.min.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('template/dist/css/skins/_all-skins.css') }}" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div class="row">
            <div class="col-md-6">
                <div class="box box-default">
                    <div class="box-header" id="box-planning">
                        <div class="row">
                            <div class="col-md-12">
                                <img src="{{asset ('image/ENIEcole-250x250.jpg') }}" alt="logo_eni" style="width:75px;height: 75px"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center"><label> {{ formation.libellelong }}</label></div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 text-left"><label>Date de début : <span id="date_debut_contrat">{{ planning.date_debut_contrat }}</span></label></div>
                            <div class="col-md-6 text-right"><label>Date de fin : <span id="date_fin_contrat">{{ planning.date_fin_contrat }}</span></label></div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                Formation en centre : {{ planning.max_heure }} heures
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 text-left"><label>Entreprise : {{ planning.entreprise.raisonsociale ~ " - " ~ planning.entreprise.ville}}</label></div>
                            <div class="col-md-6 text-right"><label>Salarié : {{ planning.stagiaire.nom ~ " " ~ planning.stagiaire.prenom}}</label></div>
                        </div>
                    </div>
                    <div class="box-body">
                        <table class="table table-responsive table-bordered table-striped" id="table-planning" width="100%">
                            <thead class="bg-light-blue-active">
                                <tr>
                                    <th class="text-center" colspan="2" width="20%">Date</th>
                                    <th class="text-center" colspan="2" width="80%"></th>
                                </tr>
                                <tr>
                                    <th class="text-left" width="15%">Début</th>
                                    <th class="text-right" width="15%">Fin</th>
                                    <th class="text-center" width="15%">Lieu</th>
                                    <th class="text-center">Programmes</th>
                                </tr>
                            </thead> 
                            <tbody>
                                <tr class="start">
                                    <td class="text-center" id="">Début de contrat</td>
                                    <td class="date-fin text-center"></td>
                                    <td class="text-center " colspan="2"><label>Entreprise</label></td>
                                    <td class="hidden"></td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th class="text-right" colspan="4">Total : <span id="table-total">0</span> heures</th> 
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="box-footer">
                        <button class="btn btn-primary pull-right " disabled id="generation-planning" onclick="onBtGenerationClick()"><i class="fa fa-file-pdf-o"></i> Générer le fichier PDF</a></button>
                    </div>
                </div>
            </div>
    </body>
    <script src="{{ asset('template/plugins/jQuery/jQuery-2.2.0.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('template/plugins/jQueryUI/jquery-ui.js') }}" type="text/javascript"></script>
    <script src="{{ asset('template/bootstrap/js/bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('template/dist/js/app.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('template/plugins/datatables/jquery.dataTables.js') }}" type="text/javascript"></script>
    <script src="{{ asset('template/plugins/datatables/dataTables.bootstrap.js') }}" type="text/javascript"></script>
    <script>
    $("#table-planning").dataTable({
        dom: 'rt<"clear">',
        filtering: false,
        ordering: false
    });
    </script>
</html>