{# empty Twig template #}
<html>
    <head>
        <link href="{{ base_dir ~ asset('template/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ base_dir ~ asset('template/ionicons-master/css/ionicons.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ base_dir ~ asset('template/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ base_dir ~ asset('template/plugins/datatables/dataTables.bootstrap.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ base_dir ~ asset('template/plugins/fullcalendar/fullcalendar.css') }}" rel="stylesheet" />
        <link href="{{ base_dir ~ asset('template/plugins/fullcalendar/fullcalendar.print.css') }}" rel="stylesheet"  media="print"/>
        <link href="{{ base_dir ~ asset('template/dist/css/AdminLTE.min.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ base_dir ~ asset('template/dist/css/skins/_all-skins.css') }}" rel="stylesheet" type="text/css"/>
    </head>
    <style>
        .row {
            margin-right: -15px;
            margin-left: -15px;
            width: 100%;
        }
        .col-md-6{
            width: 50%;
            float: left;
            position: relative;
            min-height: 1px;
            padding-right: 15px;
            padding-left: 15px;

        }
        .col-md-12{
            width: 100%;
            float: left;

            position: relative;
            min-height: 1px;
            padding-right: 15px;
            padding-left: 15px;
        }
        .text-right{text-align: right;}
        .text-left{text-align: left;}
        .text-center{text-align: center;}
    </style>
    <body>
        <div class="row">
            <div class="col-md-12">
                <div class="">
                    <div class="box-header" id="box-planning">
                        <div class="row">
                            <div class="col-md-12">
                                <img src="{{base_dir ~ asset ('image/ENIEcole-250x250.jpg') }}" alt="logo_eni" style="width:75px;height: 75px"/>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-12 text-center"><label> {{ formation.libellelong }}</label></div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-6 text-left"><label>Date de début : <span id="date_debut_contrat">{{ planning.dateDebut|date('d/m/Y')}}</span></label></div>
                            <div class="col-md-6 text-right"><label>Date de fin : <span id="date_fin_contrat">{{ planning.dateFin|date('d/m/Y') }}</span></label></div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                Formation en centre : {{ planning.maxHeureFormation }} heures
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 text-left"><label>Entreprise : {{ entreprise.raisonsociale ~ " - " ~ entreprise.ville}}</label></div>
                            <div class="col-md-6 text-right"><label>Salarié : {{ stagiaire.nom ~ " " ~ stagiaire.prenom}}</label></div>
                        </div>
                    </div>
                    <div class="box-body">
                        <table class="table table-responsive table-bordered table-striped" id="table-planning" width="100%">
                            <thead class="bg-light-blue-active">
                                <tr>
                                    <th class="text-center" colspan="2" width="20%">Date</th>
                                    <th class="text-center" colspan="2" width="80%"></th>
                                </tr>
                                <tr>
                                    <th class="text-left" width="15%">Début</th>
                                    <th class="text-right" width="15%">Fin</th>
                                    <th class="text-center" width="15%">Lieu</th>
                                    <th class="text-center">Programmes</th>
                                </tr>
                            </thead> 
                            <tbody>
                                {% set i = 0 %}
                                {% set date_d_old = null %}
                                {% set date_f_old = null %}
                                {% for cours in planning_cours %}
                                    {% if (i == 0 and (cours.cours is not null and cours.cours.debut|date('d/m/Y') != planning.dateDebut|date('d/m/Y'))) %}
                                        <tr>
                                            <td class="text-center" id="">Début de contrat</td>
                                            <td class="date-fin text-center">{{ (cours.cours is not null) ? cours.cours.debut|date_modify("-3 day")|date('d/m/Y')  : ''  }}</td>
                                            <td class="text-center " colspan="2"><label>Entreprise</label></td>
                                            <td class="hidden"></td>
                                        </tr>
                                    {% endif %}
                                    {% if(i > 0 and date_f_old != cours.cours.debut|date_modify("-3 day")) %}
                                        <tr>
                                            <td class="text-center" id="">{{ (cours.cours is not null) ? date_f_old|date_modify("+3 day")|date('d/m/Y')  : ''  }}</td>
                                            <td class="date-fin text-center">{{ (cours.cours is not null) ? cours.cours.debut|date_modify("-3 day")|date('d/m/Y')  : ''  }}</td>
                                            <td class="text-center " colspan="2"><label>Entreprise</label></td>
                                            <td class="hidden"></td>
                                        </tr>
                                    {% endif %}
                                    <tr class="start">
                                        <td class="text-center">{{ (cours.cours is not null) ? cours.cours.debut|date('d/m/Y') : ''  }}</td>
                                        <td class="text-center">{{ (cours.cours is not null) ? cours.cours.fin|date('d/m/Y') : ''  }}</td>
                                        <td class="text-center bg-info">ENI ({{ cours.cours.lieu_lib }})<br>{{ cours.cours.dureeheure }} heures</td>
                                        <td class="">{{ cours.module.libelle }}</td>
                                    </tr>
                                    {% if( i == planning_cours|length -1) %}
                                        <tr>
                                            <td class="text-center" id="">{{ (cours.cours is not null) ? cours.cours.fin|date_modify("+3 day")|date('d/m/Y')  : ''  }}</td>
                                            <td class="date-fin text-center">Fin de contrat</td>
                                            <td class="text-center " colspan="2"><label>ENTREPRISE</label></td>
                                            <td class="hidden"></td>
                                        </tr>
                                    {% endif %}
                                    {% set i = i + 1%}
                                    {% set date_d_old = cours.cours.debut %}
                                    {% set date_f_old = cours.cours.fin %}

                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div> 
    </body>
</html>